.wdf-info-card {
  display: flex;
  height: 100%;
}
.wdf-info-card-image {
  width: 20%;
}
.wdf-info-card-image-thumbnail {
  width: 100%;
  height: 100%;
  color: black;
  padding: 5%;
  padding-left: 0;
}
.wdf-info-card-body {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
}
.wdf-info-card-body-header {
  font-size: large;
  font-weight: 500;
  color: black;
}
.wdf-info-card-body-text {
  font-size: small;
  font-weight: 400;
  color: rgb(45, 45, 45);
}

/* Vertical Card */
.wdf-vertical {
  flex-direction: column;
  width: fit-content;

  .wdf-info-card-image {
    width: fit-content;

    .wdf-info-card-image-thumbnail {
      width: 250px;
      height: 250px;
      padding: 0;
      border-bottom: 4px solid black;
    }
  }

  .wdf-info-card-body {
    margin: 1%;
    width: 250px;

    .wdf-info-card-body-header {
      margin: 5px;
      margin-left: 5%;
    }
  }
}
