.wdf-profile-body {
  margin-top: 2%;
  /* display: flex; */
  /* gap: 1%; */
  /* width: 100%; */
}
/* .wdf-profile-empty-list {
  flex-grow: 0;
} */
/* .wdf-profile-user-list {
  width: fit-content;
  flex-grow: 0;
} */
/* .wdf-profile-stats {
  width: fit-content;
  padding: 10px 0px 0px 15px;
  margin-right: 3%;
  margin-bottom: 3%;
  float: left;
} */
/* .wdf-profile-review-list {
  width: 100%;
}
.wdf-profile-authored-list {
  width: 100%;
} */
