.wdf-details-container {
  margin: 3%;
  margin-top: 1%;
}

.wdf-details-top-row {
  display: flex;
  margin-bottom: 2%;
}

.wdf-details-title {
  width: 100%;
}

.wdf-details-image {
  max-width: 100%;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  box-shadow: 3px 3px px black;
}

.wdf-details-body {
  width: 100%;
  margin-top: 4%;
}

.wdf-details-left {
  margin-right: 2%;
}
.wdf-details-author {
  margin-left: 5%;
  font-size: larger;
}

@media (min-width: 1200px) {
  .wdf-details-ingredients {
    height: 100%;
    margin-bottom: 4%;
  }
  .wdf-details-instructions {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1200px) {
  .wdf-details-ingredients {
    width: 100%;
    margin-bottom: 4%;
  }
  .wdf-details-instructions {
    width: 100%;
  }
}
