.wdf-details-container {
  margin: 3%;
  margin-top: 1%;
}

.wdf-details-top-row {
  display: flex;
  margin-bottom: 2%;
}

.wdf-details-title {
  /* width: 100%; */
}

.wdf-details-image {
  max-width: 100%;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  box-shadow: 3px 3px px black;
}

.wdf-details-body {
  width: 100%;
  margin-top: 4%;
}

.wdf-details-left {
  margin-right: 2%;
}
.wdf-details-author {
  margin-left: 4%;
  font-size: larger;
}

.wdf-details-buttons {
  margin-left: 10px;
  display: flex;
}

@media (min-width: 1200px) {
  .wdf-details-ingredients {
    height: 100%;
    margin-bottom: 4%;
  }
  .wdf-details-instructions {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1200px) {
  .wdf-details-ingredients {
    width: 100%;
    margin-bottom: 4%;
  }
  .wdf-details-instructions {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .wdf-details-right {
    display: none;
  }
  /* .wdf-details-left {
    column-width: 100%;
  } */
}
@media (max-width: 650px) {
  .wdf-details-buttons {
    flex-direction: column;
    align-items: baseline;
    /* margin-right: 10px; */

    * {
      width: 80%;
      margin-bottom: 5px;
      font-size: 12;
    }
  }
}
@media (max-width: 500px) {
  .wdf-details-title {
    font-size: 20;
  }
  .wdf-details-author {
    font-size: medium;
  }
}
